.jumbotron {
    background-image: url("/src/images/jumbotronsmall.jpeg");
    text-shadow: 2px 2px #000;
    color: white;
    background-size: cover;
    background-position: center center;
}

/* .jumbotron {
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-shadow: 2px 2px #000;
    background: transparent;
}

.bg-cover {
    background-image: url("/Portfolio-Bootstrap4/src/images/img1.jpeg");
    background-size: cover;
    color: white;
    background-position: center center;
    position: fixed;
    z-index: -2;
}

.overlay {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
} */